@font-face {
  font-family:"PT Sans";
  font-weight:400;
  font-style:normal;
  src:local("PT Sans"),local("PTSans-Regular"),url("../fonts/ptsans.woff2") format("woff2"),url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family:"PT Sans";
  font-weight:700;
  font-style:normal;
  src:local("PT Sans Bold"),local("PTSans-Bold"),url("../fonts/ptsansbold.woff2") format("woff2"),url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-grey: #EBEBEB;
  --basic-brown: #766357;
  --basic-white: #ffffff;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --special-blue: #87B5D1;
  --special-brown: #A9A09B;
  --special-grey: #F2F2F2;
}

html {
  height: 100%;
}

.site-body {
  min-width: 1200px;
  background-color: var(--special-grey);
  text-transform: uppercase;
  height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2)
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color:inherit;
}

.visuallyhidden:not(:focus):not(:active), input[type="radio"], input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.none {
  display: none; /*Убрать класс после оформления форм*/
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-logo {
  position: absolute;
  margin-left: 541px;
  text-align: center;
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-grow: 1;
  padding: 0;
  justify-content: space-between;
}

.navigation-item {
  color: var(--basic-black);
  font-weight: bold;
  width: 20%;
  text-align: right;
}

.navigation-item:first-child {
  margin-left: 72px;
  text-align: left;
}

.navigation-item:nth-child(2) {
  text-align: left;
}

.navigation-item:last-child {
  margin-right: 72px;
}


.current {
  color: var(--basic-brown);
}

.navigation-link:hover {
  color: var(--basic-blue);
}

.navigation-link:active {
  color: var(--basic-grey);
}

/*Начало стилей index.html*/

.welcome {
  background: url("../img/index-shape.svg") center bottom no-repeat, url("../img/index-background-photo.jpg") center no-repeat;
  background-color: var(--basic-black);
  width: 1200px;
  height: 509px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-img {
  display: block;
  margin: 0 auto;
  padding: 60px;
}

.features-block {
  line-height: 21px;
  text-align: center;
}

.features-block-title {
  font-size: 21px;
  font-weight: bold;
}

.advantages-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-list-title {
  font-size: 21px;
}


.advantages-item {
  background-color: var(--basic-grey);
  text-align: center;
  width: 33%;
  min-height: 256px;
  align-content: center;

}

.advantages-item-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.advantages {
  justify-content: flex-start;
  flex-grow: 1;
}

.advantages-city-img {
  width: 66%;
  align-self: flex-start;
}

.benefits-list {
  color: var(--basic-black);
  list-style: none;
  background-color: var(--basic-white);
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.icon-house {
  background: url("../img/index-house-icon.svg") top center no-repeat;
}

.icon-food {
  background:url("../img/index-burger-icon.svg") top no-repeat
}

.icon-present {
  background:url("../img/index-present-icon.svg") top center no-repeat;
}


.benefits-list-item {
  position: relative;
  width:33%;
  text-align:center;
  padding-top: 100px;
}

.offer-block {
  text-align: center;
}

.offer-block-title {
  font-size: 30px;
  line-height: 24px;
}

.form-button {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  border: none;
  width:568px;
  padding: 31px 0;
}

.form-button:hover {
  background-color: var(--hover-brown);
}

.form-button:active {
  background-color: var(--active-brown);
  color: var(--special-brown);
}

.form-hotels {
  top:0;
  left:0;
  right:0;
  overflow:hidden;
  padding:0 55px;
  box-shadow:0 7px 15px rgba(0,1,1,0.15);
  height: 395px;
}

.form-hotels-group {
  display:flex;
  margin:0;
  margin-bottom:30px;
  font-weight:700;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}


.form-hotels-group:nth-child(3) .form-input {
  border: red solid;
  width: 20%;
}

.container-form-hotels {
  margin:0 auto;
  width:568px;
}

.form-find-button .form-hotels {
  width: 100%;
  justify-content: center;
}

.form-label {
  font-weight: bold;
  font-family: inherit;
  padding-right: 20px;
}

.form-input {
  background-color: var(--special-grey);
  flex-grow: 1;
  padding:5px 13px;
  font-size:14px;
  font-weight:700;
  line-height:26px;
  text-transform:uppercase;
  border:none;
}

.form-input:hover {
  background-color: var(--basic-grey);
}

.form-input:focus {
  background-color: var(--basic-white);
}

.form-find-button {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  border: none;
  text-transform: uppercase;
  text-align: center;
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  width: 458px;
  padding: 16px 0;
}

.form-find-button:hover {
  background-color: var(--hover-blue);
}

.form-find-button:active {
  background-color: var(--active-blue);
  color: var(--special-blue);
}

.map {
  width:100%;
  height:593px;
}



/*Начало стилей hotels*/

.filter {
  height: 217px;
  background-color: var(--basic-blue);
  background: url("../img/hotels-background.jpg") center no-repeat;
  color: var(--basic-white);
}

.filter-form {
  display: flex;
  padding:27px 6% 10px;
}

.form-item {
  border: none;

}

.form-item legend {
  font-size:16px;
  line-height:21px;
  font-weight: bold;
}

.form-item li {
  list-style: none;
  margin-bottom:20px
}

.form-item label {
  line-height: 21px;
  position:relative;
  display:block;
  padding-left:40px;
}

/*NACHALO stradaniy*/

.form-item input+label::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:23px;
  height:23px;
  border:2px solid var(--basic-white);
  border-radius:3px;
}

.form-item input:checked+label::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:27px;
  height:23px;
  background:url(../img/hotels-checkbox-on.svg) no-repeat;
}


/*Konec stradaniy*/

.sorting-block {
  display: flex;
  align-items: center;
}

.filter-block-text {
  font-size: 21px;
  font-weight: bold;
}

.sorting-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.sorting-condition{
  color: var(--basic-grey);
  font-size:12px;
  line-height:18px;
  border-bottom:1px dotted var(--basic-blue);
}

.sorting-condition:hover {
  color: var(--basic-blue);
}

.sorting-condition:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting-arow-up {
  position: relative;
  display: inline-block;
  width:11px;
  height:10px;
  background:url(../img/hotels-triangle-up.svg) no-repeat;
}

.sorting-arow-down {
  position: relative;
  display: inline-block;
  width:11px;
  height:10px;
  background:url(../img/hotels-triangle-down.svg) no-repeat;
}


.hotels-list {
  list-style: none;
}

.hotels-item {
  line-height: 21px;
  display:flex;
  height:150px;
  padding:30px 6%;
  border-bottom:1px solid var(--special-grey);
  flex-grow: 1;
}

.hotels-info {
  display: flex;
  flex-direction: column;
}

.hotels-title {
  display: inline-block;
  font-size:21px;
  line-height:26px;
  font-weight: bold;
  color: var(--basic-black);
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.hotels-type {
  display: inline-block;
}

.rating {
  background-color: var(--basic-grey);
}

.hotels-title:hover {
  color: var(--basic-blue);
}

.hotels-title:active {
  color: var(--basic-grey);
}

.button-details {
  display:inline-block;
  padding:6px 17px;
  background-color: var(--basic-blue);
  border: none;
  color: var(--basic-white);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  height: 27px;
}

.button-details:hover {
  background-color: var(--hover-blue);
}

.button-details:active {
  background-color: var(--active-blue);
  color: var(--special-blue);
}

.button-booking {
  height: 27px;
  display:inline-block;
  padding:6px 17px;
  background-color: var(--basic-brown);
  border: none;
  color: var(--basic-white);
  font-weight: bold;
  text-transform: uppercase;
}

.button-booking:hover {
  background-color: var(--hover-brown);
}

.button-booking:active {
  background-color: var(--active-brown);
  color: var(--special-brown);
}


/*Начало стилей footer*/

.site-footer {
  min-height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacts {
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
}

.socials {
  list-style: none;
  display: grid;
  gap: 6px;
  grid-template-columns: auto auto auto;
}

.html-logo {
  display: flex;
  align-items: center;
  line-height: 26px;
}

.html-logo p {
  margin-right: 8px;
}
