@font-face {
  font-family:"PT Sans";
  font-weight:400;
  font-style:normal;
  src:local("PT Sans"),local("PTSans-Regular"),url("../fonts/ptsans.woff2") format("woff2"),url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family:"PT Sans";
  font-weight:700;
  font-style:normal;
  src:local("PT Sans Bold"),local("PTSans-Bold"),url("../fonts/ptsansbold.woff2") format("woff2"),url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --special-blue: #87B5D1;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --basic-brown: #766357;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --special-brown: #A9A09B;
  --basic-grey: #EBEBEB;
  --special-grey: #F2F2F2;
  --active-grey: #BDBBBC;
}

html {
  height: 100%;
}

.site-body {
  min-width: 1200px;
  background-color: var(--special-grey);
  text-transform: uppercase;
  height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2)
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color:inherit;
}

.visuallyhidden:not(:focus):not(:active), input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.none {
  display: none; /*Убрать класс после оформления форм*/
}

.site-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.navigation-logo {
  position: absolute;
  margin-left: -45px;
  left: 48%;
  top: 0;

}

.navigation-list {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-grow: 1;
  padding: 0 0px;
  justify-content: flex-start;
}

.navigation-item {
  color: var(--basic-black);
  font-weight: bold;
  width: 15%;
  text-align: right;
}

.navigation-item:first-child {
  text-align: left;
  margin-left: 72px;
  margin-right: 48px;
}

.navigation-item:nth-child(2) {
  text-align: left;
  margin-right: 240px;
}

.navigation-item:nth-child(3) {
  margin-right: 55px;
}

.current {
  color: var(--basic-brown);
}

.navigation-link:hover {
  color: var(--basic-blue);
}

.navigation-link:active {
  color: var(--active-grey);
}

/*Начало стилей index.html*/

.welcome {
  background: url("../img/index-shape.svg") center bottom no-repeat, url("../img/index-background-photo.jpg") center no-repeat;
  background-color: var(--basic-black);
  width: 1200px;
  height: 509px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-img {
  display: block;
  margin: 0 auto;
  padding: 60px;
  padding-top: 78px;
}

.features-block {
  text-align: center;
  padding-top: 25px;

}

.features-block-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding-bottom: 25px;
}

.features-text {
  padding-bottom: 40px;
}

.advantages-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-list-title {
  font-size: 21px;
  line-height: 21px;
  padding-left:;

}


.advantages-item {
  background-color: var(--basic-grey);
  text-align: center;
  width: 33.333333%;
  min-height: 231px;
  padding-top: 25px;
}

.advantages-item p{
  padding-top: 10px;
  line-height: 21px;
}

.advantages-item-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.advantages {
  justify-content: flex-start;
  min-width: 400px;
  padding-top: 25px;
}

.advantages span {
  padding-top: 2px;
}

.advantages p {
  padding-top: 10px;
  padding-left: 5px;
  line-height: 21px;
  font-weight: normal;
}

.advantages-city-img {
  width: 66%;
  align-self: flex-start;
  flex-grow: 1;
}

.canyon-padding {
  padding-top: 25px;
}

.benefits-list {
  color: var(--basic-black);
  list-style: none;
  background-color: var(--basic-white);
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  height: 330px;
}

.icon-house::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: -20px;
  left: 120px;
  background: url("../img/index-house-icon.svg") top center no-repeat;
}

.icon-food::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  top: -20px;
  left: 135px;
  background:url("../img/index-burger-icon.svg") top no-repeat
}

.icon-present::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  top: -24px;
  left: 155px;
  background:url("../img/index-present-icon.svg") top center no-repeat;
}


.benefits-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  width:33.333333%;
  text-align:center;
}

.benefits-list-item h3 {
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 21px;
  font-size: 21px;
}

.benefits-list-item:first-child h3 {
  margin-left: -69px;
}

.benefits-list-item:nth-child(2) h3 {
  margin-left: -42px;
}

.benefits-list-item:last-child h3 {
  margin-left: -14px;
}

.benefits-list-item p{
  position: relative;
  top: 10px;
  right: 33px;
  line-height: 21px;
}

.benefits-list-item:nth-child(2) p{
  right: 20px;
}

.benefits-list-item:last-child p{
  right: 7px;
}

.offer-block {
  padding-top: 20px;
  text-align: center;
}



.offer-block-title {
  font-size: 30px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.form-button {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  border: none;
  width:568px;
  padding: 31px 0;
  margin-top: 26px;
}

.form-button:hover {
  background-color: var(--hover-brown);
}

.form-button:active {
  background-color: var(--active-brown);
  color: var(--special-brown);
}

.form-hotels {
  position:absolute;
  top:0;
  left:0;
  right:0;
  max-height: 395px;
  padding: 55px;
  overflow: visible;
  background-color: var(--basic-white);
  box-shadow:0 7px 15px rgba(0,1,1,0.15);
  z-index:3;
}

/* SOMNITELNO*/

.form-hotels-group {
  display:flex;
  margin-top: 5px;
  margin-bottom:30px;
  font-weight:700;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
}

.container-form-hotels {
  position: relative;
  margin:0 auto;
  width:568px;
}

.form-find-button .form-hotels {
  width: 100%;
  justify-content: center;
}

.form-input{
  flex-grow:1;
  width: 346px;
  padding:5px 13px;
  font-size:14px;
  font-weight:700;
  line-height:26px;
  text-transform:uppercase;
  background-color: var(--special-grey);
  border:none;
  margin-left: 10px;
}

.form-input[type="number"] {
  width: 114px;
  text-align:center
}

.form-input:hover {
  background-color: var(--basic-grey);
}

.form-input:focus {
  background-color: var(--basic-white);
  border: var(--special-grey) solid 2px;
}

.form-label{
  display: inline-block;
  width: 112px;
  padding: 0;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.form-label[for="adults"] {
  margin-right: 30px;
}

.form-label[for="kids"] {
  display: inherit;
  text-align: right;
  margin-left: 30px;
}

.button-calendar {
  position: absolute;
  min-width: 21px;
  min-height: 23px;
  border: none;
  left: 80%;
}

.button-plus {
  position: absolute;
  min-width: 11px;
  min-height: 11px;
  border: none;
  left: 45%;
  margin-top: -5px;
  margin-left: -10px;
  margin-top: 3px;
}

.button-plus svg:hover {
  fill: var(--basic-black);
}

.button-plus:nth-child(7) {
  position: absolute;
  min-width: 11px;
  min-height: 11px;
  border: none;
  left: 85%;
  margin-left: -10px;
  margin-top: 3px;
}

.button-minus {
  position: absolute;
  min-width: 11px;
  min-height: 11px;
  border: none;
  left: 30%;
  margin-left: 10px;
  margin-top: -5px;
}

.button-minus:last-child {
  position: absolute;
  min-width: 11px;
  min-height: 11px;
  border: none;
  left: 70%;
  margin-left: 5px;
  margin-top: -5px;
}

.form-find-button {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  border: none;
  text-transform: uppercase;
  text-align: center;
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  width: 458px;
  padding: 16px 0;
}

.form-find-button:hover {
  background-color: var(--hover-blue);
}

.form-find-button:active {
  background-color: var(--active-blue);
  color: var(--special-blue);
}

/* SOMNITELNO*/

.map {
  position: relative;
  width:100%;
  height:593px;
  overflow: hidden;
}



/*Начало стилей hotels*/

.filter {
  height: 217px;
  background-color: var(--basic-blue);
  background: url("../img/hotels-background.jpg") center no-repeat;
  color: var(--special-grey);
}

.filter-form {
  display: flex;
  padding:27px 6% 10px;
}

.form-item {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 11.2%;

}

.form-item legend {
  margin-bottom: 24px;
  font-size:16px;
  line-height:21px;
  font-weight: bold;
}

.form-item ul {
  margin: 0;
  padding: 0;
}

.form-item li {
  list-style: none;
  margin-bottom: 22px;
}

.form-item label {
  line-height: 21px;
  position:relative;
  display:block;
  padding-left:40px;
}



.form-item input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box:not(checked)::before {
  content: "";
  position:absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/hotels-checkbox-off.svg);
}

.form-item input:checked::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:27px;
  height:23px;
  background:url(../img/hotels-checkbox-on.svg) no-repeat;
}


/*NACHALO stradaniy*/
.filter-range {
  margin-left:auto;
  width:318px
}

.range-label {
  margin:0;
  margin-bottom:10px;
  font-size:16px;
  line-height:21px;
  font-weight:700
}

.price-controls {
  position:relative;
  margin-bottom:20px;
  height:36px;
  font-size:0;
  border:2px solid var(--basic-white);
  border-radius:2px;
}

.price-controls::after {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:2px;
  height:22px;
  background-color: var(--basic-white);
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%)
}

  .price-controls label {
    display:inline-block;
    width:50%;
    padding-left:10%;
    font-size:14px;
    line-height:30px;
    text-align:center;
    vertical-align:top;
    cursor:pointer
  }

  .price-controls input {
    margin:0;
    width:50px;
    color:inherit;
    font:inherit;
    background:none;
    border:none;
  }

.range-controls {
  position: relative;
}

.scale {
  width: 316px;
  height: 2px;
  background: rgba(255, 255, 255, 0.2)
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle-min:hover {
  width: 3px;
  border-width: 10px;
}

.toggle-max:hover {
  width: 3px;
  border-width: 10px;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 250px;
}

.button-transparent {
  display:block;
  position:relative;
  margin:40px auto;
  padding:6px 35px;
  line-height:20px;
  text-transform:uppercase;
  color: var(--basic-white);
  background:none;
  border:2px solid var(--basic-white);
  border-radius:2px;
  cursor:pointer;-webkit-transform:perspective(1px) translateZ(0);
  transform:perspective(1px) translateZ(0);
}

.btn-transparent:hover {
  color: var(--basic-black);
}

.btn-transparent::before{
  content:'';
  position:absolute;
  z-index:-1;
  width:100%;
  height:0%;
  top:0;
  left:0;
  background: var(--basic-white);
  transition:.3s
}
.btn-transparent:hover::before {
  height:100%
}


/*Konec stradaniy*/


.sorting-block-container {
  display: flex;
  padding: 30px 6% 25px;
  border-bottom: 1px solid var(--special-grey);
}

.filter-block-text {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.sorting-list {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0;
}

.sorting-condition {
  color: var(--active-grey);
  font-size:12px;
  line-height:18px;
  border-bottom:1px dotted var(--basic-blue);
}

.chosen {
  color: var(--basic-blue);
  border:none;
}

.sorting-condition:hover {
  color: var(--basic-blue);
}

.sorting-condition:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting-arow-up {
  margin-left: 400px;
  position: relative;
  display: inline-block;
  width:11px;
  height:10px;
  background:url(../img/hotels-triangle-up.svg) no-repeat;
}

.sorting-arow-down {
  margin-right: 73px;
  margin-left: -20px;
  position: relative;
  display: inline-block;
  width:11px;
  height:10px;
  background:url(../img/hotels-triangle-down.svg) no-repeat;
}


.hotels-list {
  list-style: none;
  padding: 0;
}

.hotels-item {
  line-height: 21px;
  max-height: 150px;
  display: flex;
  padding:30px 6%;
  border-bottom:1px solid var(--special-grey);
}

.hotels-item:last-child {
  margin-bottom: 120px;
}

.hotels-info {
  margin-left: 29px;
  margin-right: auto;
}

.hotels-title {
  display: inline-block;
  box-sizing: border-box;
  font-size:21px;
  line-height:26px;
  font-weight: bold;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.hotels-type p {
  display: inline-block;
  min-width: 112px;
}


.stars-4 {
  display: block;
  background: url(../img/hotels-4-stars.svg) no-repeat;
  min-height: 26px;
  min-width: 90px;
  margin-left: 25px;
}

.stars-3 {
  display: block;
  background: url(../img/hotels-3-stars.svg) no-repeat;
  min-height: 26px;
  max-width: 66px;
  margin-left: 45px;
}

.stars-2 {
  margin-left: auto;
  display: block;
  background: url(../img/hotels-2-stars.svg) center no-repeat;
  max-width: 42px;
  min-height: 26px;
}

.rating {
  display: inline-block;
  background-color: var(--basic-grey);
  text-align: center;
  min-width: 110px;
  min-height: 27px;
}

.hotels-title:hover {
  color: var(--basic-blue);
}

.hotels-title:active {
  color: var(--basic-grey);
}

.button-details {
  display:inline-block;
  max-width: 142px;
  padding:6px 17px;
  background-color: var(--basic-blue);
  border: none;
  color: var(--basic-white);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  height: 27px;
}

.button-details:hover {
  background-color: var(--hover-blue);
}

.button-details:active {
  background-color: var(--active-blue);
  color: var(--special-blue);
}

.button-booking {
  height: 27px;
  max-width: 142px;
  display:inline-block;
  padding:6px 17px;
  background-color: var(--basic-brown);
  border: none;
  color: var(--basic-white);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.button-booking:hover {
  background-color: var(--hover-brown);
}

.button-booking:active {
  background-color: var(--active-brown);
  color: var(--special-brown);
}


/*Начало стилей footer*/

.site-footer {
  position: relative;
  margin-top: -120px;
  min-height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
}

.contacts {
  text-align: center;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
}

.contacts p:first-child {
  margin: 0;
  padding-left: 18px;
  padding-bottom: 11px;

}

.contacts p:last-child {
  margin: 0;
  padding-left: 13px;
  padding-bottom: 14px;

}

.socials {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-right: 0px;
}

.socials li {
  margin-right: 6px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
}

.socials-link:hover, .socials-link:focus {
  background-color: var(--hover-blue);
}

.socials-link:active {
  background-color: var(--special-blue)
}

.socials-link:active svg {
  opacity: .3
}



.html-logo {
  display: flex;
  align-items: center;
  line-height: 26px;
  margin-right: 38px;
}

.html-logo p {
  margin-right: 8px;
}

.html-logo span {
  margin-top: 10px;
}

.html-logo svg:hover {
  fill: var(--basic-blue);
}

.html-logo svg:active {
  fill: var(--active-grey);
}
